###
# Unity folders and files
###
Escape_Remnant_of_Darkness/[Aa]ssets/AssetStoreTools*
Escape_Remnant_of_Darkness/[Bb]uild/
Escape_Remnant_of_Darkness/[Ll]ibrary/
Escape_Remnant_of_Darkness/[Ll]ocal[Cc]ache/
Escape_Remnant_of_Darkness/[Oo]bj/
Escape_Remnant_of_Darkness/[Tt]emp/
Escape_Remnant_of_Darkness/[Uu]nityGenerated/
